@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Här håller vi koll på vilka faaaantastiska CD-skivor som finns i vår samling. Addera Artist eller CD till listorna om ni vill!</p>
</div>
